---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$background-color:  #141717 !default;
$text-color:        #9FA194 !default;
$muted-text-color: #5A5E5D !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials